.custom-button {
    color: white;
    border-color: white;
  }
  
  .carousel-caption {
    position: absolute;
    right: 0;  /*Ubicar a la derecha */
    /* left: 0; */
    top: 40%; /* Centrar verticalmente */
    transform: translateY(-50%);
    text-align: right; /* Alineación a la derecha */
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
    padding: 10px; /* Espaciado interno */
    width: 40%; /* Ancho del área de texto */
  }
  
  .carousel-caption p {
    text-align: right;
    margin-bottom: 0; 
    color: #fff; 
  }
  
  #carouselExampleCaptions .carousel-inner {
    background: rgba(0, 0, 0, 0.5); 
  }
  
  #carouselExampleCaptions.carousel-caption {
    text-align: right; 
    padding: 20px; 
    width: 40%; 
  }
  
  #carouselExampleCaptions.carousel-caption p {
    margin-bottom: 0; 
    color: #fff; 
  }

  .carousel-inner {
    text-align: right;
  }
  
.carousel-item {
    text-align: right;
  }
  
  .form-group p {
    text-align: left;
  }

  .logo {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
  }

  /* .verde {
    color: green !important;
  } */

  /* .verde .nav-link { */
    /* color: green !important; */
/* } */

.btn-transparent-white {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px; 
  }

.btn-green-white {
    background-color: green;
    color: white;
  }

  .btn-orange {
    background-color: orange;
    color: black;
    font-weight: bold;
  }

  .btn-blue {
    background-color: lightblue;
    color: white;
    font-weight: bold;
  }

  .btn-gris {
    background-color: grey;
    color: white;
    font-weight: bold;
  }
  .btn-rojo {
    background-color: red;
    color: white;
    font-weight: bold;
  }

  .no-margin {
    margin: 0;
    padding: 0;
  }

  .custom-margin {
    margin-bottom: 1px;
};
    
    


  